@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face  {
    font-family: 'bluestar';
    src: url('fonts/Bluestar-MediumItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
     }
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}
  nav{
    background: #0084ff;
    width: 100%;
    position: fixed;
  }

  nav:after{
    content: '';
    clear: both;
    display: table;
  }
  nav .logo{
    float: left;
    padding-left: 60px;
  }
  .logo img{
    height: 100px;
    padding: 20px;
  }
  nav ul{
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
  }
  nav ul li{
    float:left;
    display: inline-block;
    background: #0084ff;
    margin: 10px 5px;
  }
  nav ul li a{
    color: white;
    display: flex;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
  }
  nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    transition: 1s;
  }
  nav ul ul li a:hover{
    box-shadow: none;
  }
  nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul li{
    position: relative;
    margin: 0px;
    width: 300px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
  }
  .show,.icon,input{
    display: none;
  }
  .fa-plus{
    font-size: 15px;
    margin-left: 40px;
  }
  ul li a {
    font-weight: bold;
  }
  @media all and (max-width: 968px) {
    nav{
      position: absolute;
    }
    nav ul{
      margin-right: 0px;
      float: left;
    }
    nav .logo{
      padding-left: 30px;
      width: 100%;
    }
    .show + a, ul{
      display: none;
    }
    nav ul li,nav ul ul li{
      display: block;
      width: 100%;

    }
    nav ul li a:hover{
      box-shadow: none;
      background-color: #0356a3;
    }
      nav ul li a{
        height: 70px;
      }
    .show{
      display: block;
      color: white;
      font-size: 18px;
      padding: 10px 20px;
      font-weight: bold;
      cursor: pointer;
    }
    .show:hover{
      color: cyan;
    }
    .icon{
      display: block;
      color: white;
      position: absolute;
      top: 0;
      right: 40px;
      line-height: 70px;
      cursor: pointer;
      font-size: 25px;
    }
    nav ul ul{
      top: 70px;
      border-top: 0px;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
    }
    nav ul li a:hover{
        color: white;
     }
    nav ul ul a{
      padding-left: 40px;
    }
    nav ul ul ul a{
      padding-left: 80px;
    }
    nav ul ul ul li{
      position: static;
    }
    [id^=btn]:checked + ul{
      display: block;
    }
    nav ul ul li{
      border-bottom: 0px;
    }
    span.cancel:before{
      content: '\f00d';
    }
  }
  @media (max-width: 968px) {
    nav ul li{
      width: 98%;
    }
  }

  .content{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  header{
    font-size: 35px;
    font-weight: 600;
    padding: 10px 0;
  }
footer {
    background-color: #004b91;
    color: #fff;
    padding: 20px;
  }
  
  .containerfoot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logofoot img {
    padding: 10px;
    height: 100px;
    width: 200px;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin-top: 20px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-line {
    border-top: 1px solid #fff;
    margin-top: 20px;
  }
  
  .whatsapp {
    text-align: center;
    margin-top: 20px;
  }
  
  .whatsapp h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .whatsapp p {
    margin-bottom: 0;
  }
  h4{
    text-align: center;
  }
  .footer-section p{
    text-align: center;
  }
  .footer-section >p >a, .whatsapp p a{
    text-decoration: none;
    color: white;
  }
  .dropdown__link{
    text-align: justify;
  }
  .copyright {
    padding: 10px;
    text-align: center;
    color: #011e3a;
    background-color: #004b91;
  }
  @media (max-width: 768px) {
    footer{ 
      display: block;
      position: relative;

    }
    footer .containerfoot {
        flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 0px;
      
      
    }
    footer .footer-line{
      width: 0px;
      height: 0px;
      display: block;
      opacity: 0;
    }

.containerfoot .footer-section{
  padding: 10px;
  margin-bottom: 0px;
  flex: 0;
}
}
.historia{
    padding: 40px;
    background-color: white;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

}
.title h1 {
    padding-left:10px;

    
}
.underline {
    width: 100px; /* Ajuste a largura da linha aqui */
    height: 3px; /* Altura da linha */
    background-color: #0054a7; /* Cor azul escura */
    margin-top: 5px; /* Espaçamento entre o título e a linha */
    margin-left: 10px;
    margin-bottom: 20px;
}
.texto-historia p{
    padding: 10px;
    text-align: justify;
    font-size: 1.2em;
    
}
.texto-historia h1{
    padding: 10px 30px;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.gallery-item {
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.gallery-item img {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s;
}
.gallery-item img:hover {
    transform: scale(1.05);
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}
.lightbox button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}
.lightbox .prev {
    left: 10px;
}
.lightbox .next {
    right: 10px;
}
.lightbox .close {
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}
