
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@supports (background-size: cover) {
  .background { 
      background-size: cover;
  }
}
@font-face  {
    font-family: 'bluestar';
    src: url('fonts/Bluestar-MediumItalic.ttf') format('truetype');
    src: url('fonts/Bluestar-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
     }
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}
/*Imagem com texto*/
.background{ 
    background-image: url('imgshome/imgcampo.JPG');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
   -webkit-background-size: cover;
    height: 550px;   
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }


.child h1{
    font-family: 'bluestar';
    color: white;
    padding: 3px ;
    font-size: 5em;
    text-shadow: rgb(6, 97, 158) 2px 2px;
}
.child h2{
    padding:0px 0px 40px 0px;
    font-size: 2em;
    color: white;
    font-family: bluestar;
    text-shadow: rgb(6, 97, 158) 2px 2px;
}
.conhecer{
 padding: 17px 40px;
 border-radius: 50px;
 border: 0;
 background-color: rgb(0, 132, 255);
 box-shadow: black 0 0 8px;
 letter-spacing: 1.5px;
 text-transform: uppercase;
 font-size: 15px;
 transition: all .5s ease;
 color: white;
 font-weight: bold;
}

.conhecer:hover{
  letter-spacing: 3px;
  background-color: white;
  box-shadow: black 0px 7px 29px 0px;
  color: black;
}

.conhecer:active{
  letter-spacing: 3px;
  background-color: rgb(2, 87, 167);
  box-shadow: black 0px 0px 0px 0px;
  color: white;
  transform: translate(10px);
  transition: 100ms;
}
/*Eventos*/
.fundo{
  background: #CECECE;
}
.container_evento {
    max-width: 800px;
    margin:auto;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-top: 0;
  }
  
  .line {
    width: 100px;
    height: 2px;
    background-color: blue;
    margin: 20px auto;
  }
  
  .events {
    display: flex;
    justify-content: center; /* Centraliza os eventos horizontalmente */
    align-items: flex-start; /* Alinha os eventos ao topo */
    flex-wrap: wrap; /* Permite que os eventos quebrem linha se necessário */
  }
  
  .event {
    width: 320px; /* Aumentei ainda mais a largura */
    height: 460px; /* Aumentei ainda mais a altura */
    margin: 20px; /* Aumentei a margem para destacar mais */
    padding: 20px; /* Aumentei o padding para mais espaço interno */
    border: 1px solid #868686;
    background-color: white;
    text-align: center; /* Centraliza o conteúdo dentro do cartão */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.089) 4px 4px;
  }
  
  .event-info {
    margin-bottom: 20px; /* Espaço abaixo do texto */
  }
  
  .event-info h2 {
    margin-top: 0;
  }
  
  .event-info p {
    font-size: 14px;
  }
  
  .event-image img {
    max-width: 100%;
    height: 290px;
  }
  
  .learn-more {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px; /* Ajustei o espaço acima do botão */
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(0, 132, 255);
    box-shadow: black 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    color: white;
    font-weight: bold;
  }
  
  .learn-more:hover{
    letter-spacing: 3px;
    background-color: white;
    box-shadow: black 0px 7px 29px 0px;
    color: black;
  }
  
  .learn-more:active{
    letter-spacing: 3px;
    background-color: rgb(2, 87, 167);
    box-shadow: black 0px 0px 0px 0px;
    color: white;
    transition: 100ms;
  }
  /*O Clube*/
  .historia{
    background: white;
    padding: 20px;
  }
  .historia h1{
    padding: 30px;
  }
  .historia p{
    font-size: 1.2em;
    padding: 20px 30px 10px 20px;
    text-align: justify;
    
  }
  .conheca{
    border-radius: 50px;
    width: 190px;
    padding: 10px 20px;
    margin-top: 20px;
  }
  .conheca a{
    padding: 1px;
    margin: auto;
    text-decoration: none;
  }
  .conheca p:hover{
    color: white;
  }
  .conheca button{ 
    background-color: white;
    padding: 0.7rem 1rem;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #036186;
    backface-visibility: hidden;
    border: 0.2rem solid transparent;
    border-radius: 3rem;
    border-color: #036186;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    box-shadow: rgba(0, 0, 0, 0.226) 2px 2px;
    
   }
   
   .conheca button:hover{
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    border-color: rgb(138, 135, 135);
    color: white;
    background-color: #036186;

   }
   
   .conheca button:active{
     background-color: rgb(2, 87, 167);
     box-shadow: black 0px 0px 0px 0px;
     color: white;
     transform: translate(10px);
     transition: 100ms;
   }
   /*Mapa*/
   #map-container {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
  }
  #map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /*Footer*/
  footer {
    background-color: #004b91;
    color: #fff;
    padding: 20px;
  }
  
  .containerfoot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logofoot img {
    padding: 10px;
    height: 100px;
    width: 200px;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin-top: 20px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-line {
    border-top: 1px solid #fff;
    margin-top: 20px;
  }
  
  .whatsapp {
    text-align: center;
    margin-top: 20px;
  }
  
  .whatsapp h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .whatsapp p {
    margin-bottom: 0;
  }
  h4{
    text-align: center;
  }
  .footer-section p{
    text-align: center;
  }
  .footer-section >p >a, .whatsapp p a{
    text-decoration: none;
    color: white;
  }
  .dropdown__link{
    text-align: justify;
  }
  .copyright {
    padding: 10px;
    text-align: center;
    color: #011e3a;
    background-color: #004b91;
  }

  @media (max-width:1118px) {
    .background{
    background-attachment:scroll;
  }
}

  @media (max-width: 768px) {
    footer{ 
      display: block;
      position: relative;

    }
    footer .containerfoot {
        flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 0px;
      
      
    }
    footer .footer-line{
      width: 0px;
      height: 0px;
      display: block;
      opacity: 0;
    }

.containerfoot .footer-section{
  padding: 10px;
  margin-bottom: 0px;
  flex: 0;
}
}

@media (max-width:530px){
    .background{
      background-image: url('imgshome/imgfundomenor.png');
    } 
    }
@media (max-width:424px){
  .child h1{
    font-size: 3.5em;
   }
}
@media (max-width:370px){
  .child h1{
    font-size: 3.3em;
   }
}
