@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@supports (background-size: cover) {
  .background { 
      background-size: cover;
  }
}

@font-face  {
    font-family: 'bluestar';
    src: url('fonts/Bluestar-MediumItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
     }
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}
  .background { 
    background-image: url('imgs/imgcampo.JPG');
    background-size: cover;
    height: 400px; 
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .child h1 {
    font-family: 'bluestar';
    color: white;
    padding: 3px;
    font-size: 3em;
    text-shadow: rgb(6, 97, 158) 2px 2px;
  }
  .containerevento{
    padding: 40px;
    background-color: white;
  }

footer {
    background-color: #004b91;
    color: #fff;
    padding: 20px;
  }
  
  .containerfoot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logofoot img {
    padding: 10px;
    height: 100px;
    width: 200px;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin-top: 20px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-line {
    border-top: 1px solid #fff;
    margin-top: 20px;
  }
  
  .whatsapp {
    text-align: center;
    margin-top: 20px;
  }
  
  .whatsapp h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .whatsapp p {
    margin-bottom: 0;
  }
  h4{
    text-align: center;
  }
  .footer-section p{
    text-align: center;
  }
  .footer-section >p >a, .whatsapp p a{
    text-decoration: none;
    color: white;
  }
  .copyright {
    padding: 10px;
    text-align: center;
    color: #011e3a;
    background-color: #004b91;
  }
  @media (max-width:1118px) {
    .background{
    background-attachment:scroll;
  }
}
  @media (max-width: 768px) {
    footer{ 
      display: block;
      position: relative;

    }
    footer .containerfoot {
        flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 0px;
      
      
    }
    footer .footer-line{
      width: 0px;
      height: 0px;
      display: block;
      opacity: 0;
    }

.containerfoot .footer-section{
  padding: 10px;
  margin-bottom: 0px;
  flex: 0;
}
}