
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@supports (background-size: cover) {
  .background { 
      background-size: cover;
  }
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

@font-face  {
    font-family: 'bluestar';
    src: url('../../fonts/Bluestar-MediumItalic.ttf') format('truetype');
    src: url('../../fonts/Bluestar-MediumItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
     }
  .background { 
    background-image: url('imgfundo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    height: 500px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.child h1 {
  font-family: 'bluestar';
  color: white;
  padding: 3px;
  font-size: 3em;
  text-shadow: rgb(6, 97, 158) 2px 2px;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}
.title h1 {
  padding-left:10px;

  
}
.underline {
  width: 100px; /* Ajuste a largura da linha aqui */
  height: 3px; /* Altura da linha */
  background-color: #0054a7; /* Cor azul escura */
  margin-top: 5px; /* Espaçamento entre o título e a linha */
  margin-left: 10px;
  margin-bottom: 20px;
}


.containeraulas {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pair {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.retazul {
  width: 300px;
  background-color: rgb(0, 140, 255);
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  font-family: 'bluestar';
  font-weight: bold;
}

.ret {
  width: 600px;
  height: 90px;
  box-shadow: rgba(0, 0, 0, 0.384) 0px 3px 10px 3px;
  margin-bottom: 20px;
}

.textopreto {
  display: flex;
  padding: 10px;
  align-items: center;
  height: 100%;
  font-size: 1.5em;
  font-family: 'bluestar';
  
}
span{
  font-weight: bold;
}

.carousel {
  position: relative;
  width: 500px;
  overflow: hidden;
  height: 200px;
  margin-top: 10px;
  margin: auto;
  z-index: 1;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  height: 200px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  font-size: 18px;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}
.containerzap{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.childzap{
 width: 300px;
 
}
footer {
    background-color: #004b91;
    color: #fff;
    padding: 20px;
  }
  
  .containerfoot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logofoot img {
    padding: 10px;
    height: 100px;
    width: 200px;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin-top: 20px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-line {
    border-top: 1px solid #fff;
    margin-top: 20px;
  }
  
  .whatsapp {
    text-align: center;
    margin-top: 20px;
  }
  
  .whatsapp h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .whatsapp p {
    margin-bottom: 0;
  }
  h4{
    text-align: center;
  }
  .footer-section p{
    text-align: center;
  }
  .footer-section >p >a, .whatsapp p a{
    text-decoration: none;
    color: white;
  }
  .dropdown__link{
    text-align: justify;
  }
  .copyright {
    padding: 10px;
    text-align: center;
    color: #011e3a;
    background-color: #004b91;
  }
  @media (max-width: 768px) {
    footer{ 
      display: block;
      position: relative;

    }
    footer .containerfoot {
        flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 0px;
      
      
    }
    footer .footer-line{
      width: 0px;
      height: 0px;
      display: block;
      opacity: 0;
    }

.containerfoot .footer-section{
  padding: 10px;
  margin-bottom: 0px;
  flex: 0;
}
}
@media (max-width:1118px) {
    .ret{
      width: 500px;
    }
    .containerzap{
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .containerzap .childzap a img{
      width: 350px;
     transform: translate(50px);

    }
    .carousel{
      width: 300px;
    }
      .background{
      background-attachment:scroll;
    }
}
@media (max-width:1040px)
{

  .containeraulas{
    justify-content: center;
    align-items: center;
  }
  .carousel{
    width: 300px;
  }
}

@media (max-width:859px){
  .containerzap .childzap a img{
    transform: translateX(-35px);
  }
}

@media (max-width:530px){
.containeraulas{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .ret{
    width: 390px;
  }
  .containerzap{
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .containerzap .childzap a img{
    width: 350px;
    transform: translate(-35px);
 
  }
  .background{
    background-image: url('imgfundomenor.png');
  }
}
@media (max-width:412px){
    .background{
      height: 400px;
    }
    .background .child h1{
      width: 98vw;
    }
    .background h1{
      margin-top: 70px;
  
    }
    .ret{
      width: 330px;
    }
    .containerzap{
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 200px;
    }
    }
    .containerzap .childzap{
      transform: translate(20px);
    }
    .containerzap .childzap a img{
      width: 320px;
      
   
    }
  @media (max-width:350px){
    .containerzap{
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .containerzap .childzap a img{
      width: 300px;
      transform: translate(-25px);
    }
  }
  @media (max-width:310px){
    .ret{
      width: 240px;
    }
    .containerzap{
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .containerzap{
      width: 200px;
    }
    .containerzap .childzap a img{
      width: 300px;

    }
  }



  

 