@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face  {
    font-family: 'bluestar';
    src: url('fonts/Bluestar-MediumItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
     }
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
  }
  .title h1 {
    padding-left:10px;
  
    
  }
  .underline {
    width: 100px; /* Ajuste a largura da linha aqui */
    height: 3px; /* Altura da linha */
    background-color: #0054a7; /* Cor azul escura */
    margin-top: 5px; /* Espaçamento entre o título e a linha */
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  
  .texto p{
    padding: 10px;
    font-size: 1.3em;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
  }
  .h1{
    align-items: flex-start;
  }
  .containercapo{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
  .embreve img{
    width: 600px;
    padding: 10px;
  
  }
  
footer {
    background-color: #004b91;
    color: #fff;
    padding: 20px;
  }
  
  .containerfoot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logofoot img {
    padding: 10px;
    height: 100px;
    width: 200px;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin-top: 20px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-line {
    border-top: 1px solid #fff;
    margin-top: 20px;
  }
  
  .whatsapp {
    text-align: center;
    margin-top: 20px;
  }
  
  .whatsapp h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .whatsapp p {
    margin-bottom: 0;
  }
  h4{
    text-align: center;
  }
  .footer-section p{
    text-align: center;
  }
  .footer-section >p >a, .whatsapp p a{
    text-decoration: none;
    color: white;
  }
  .dropdown__link{
    text-align: justify;
  }
  .copyright {
    padding: 10px;
    text-align: center;
    color: #011e3a;
    background-color: #004b91;
  }
  @media (max-width: 768px) {
    footer{ 
      display: block;
      position: relative;

    }
    footer .containerfoot {
        flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 0px;
      
      
    }
    footer .footer-line{
      width: 0px;
      height: 0px;
      display: block;
      opacity: 0;
    }

.containerfoot .footer-section{
  padding: 10px;
  margin-bottom: 0px;
  flex: 0;
}
}
@media (max-width:630px){
  .containercapo img{
   width: 500px;
  }
  }
  @media (max-width:540px){
  .containercapo img{
   width: 400px;
  }
  }
  @media (max-width:484px){
  .containercapo img{
    width: 350px;
  }
  }
  @media (max-width:400px){
  .containercapo img{
    width: 300px;
  }
  }
  @media (max-width:370px){
    .containercapo img{
      width: 250px;
    }
  }